.c-polylang {

    @apply u-font-body u-px-3 u-inline-block u-text-xs u-uppercase;
    position: relative;

    &__button {
      @apply u-font-title u-tracking-wider u-font-bold u-py-3 u-px-3;
      cursor: pointer;
    }

    &__button::after{
      @apply u-ml-3;
      content: '-';
    }

    &__container {
      @apply u-bg-grey-700 u-text-xs u-text-grey-300 u-rounded-sm u-shadow;
      display: none;
      position: absolute;
      right: 0px;
      min-width: theme('spacing.40');
      padding: theme('spacing.3') theme('spacing.4');
    }

    &__label {
      @apply u-font-normal u-mb-2;
      display: block;
    }

    &__link {
      @apply u-font-bold u-my-2 u-text-grey-200;
      display: block;
      width: 100%;
      &--current::before {
        content: 'x' !important; // TODO(BIR-180): Replace this with an SVG after svg support (BIR-179)
      }
    }
    &__link::before {
      @apply u-mr-2;
      content: '-'; // TODO(BIR-180): Replace this with an SVG after svg support (BIR-179)
    }

    &:hover .c-polylang__container{
        display: block;
    }

}
