.c-swoosh {
  overflow: hidden;
  position: relative;

  & > .c-swoosh__overlay {
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;

    &--top {
      top: 0;
    }

    &--bottom {
      bottom: 0;
    }
  }
}

