.c-search-result {
    &__heading {
        @apply u-font-body;
        border-bottom: 1px solid theme('colors.grey.500');
        border-top: 1px solid theme('colors.grey.500');
        padding-top: theme('space.4');
        padding-bottom: theme('space.4');
        font-weight: theme('fontWeight.medium');
        font-size: theme('fontSize.2xl');
    }

    &__heading-title{
        display: inline-block;
    }

    &__found {
        float: right;
        display: inline-block;
    }

    &__wrapper {
        @apply u-w-3/4;
        margin-left: auto;
    }

    &__result:last-child{
        border-bottom: none;
    }

    &__result {
        @apply u-flex u-flex-row u-items-center;
        border-bottom: 1px solid theme('colors.grey.600');
        padding-top: theme('space.4');
        padding-bottom: theme('space.4');
    }

    &__title {
        font-weight: theme('fontWeight.semibold');
        font-size: theme('fontSize.lg');
    }

    &__subtitle {
        font-weight: theme('fontWeight.light');
        font-size: theme('fontSize.base');
        display: block;
    }
}
