/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project. The `font-size` is in ems, the `line-height`
 *    is unitless.
 * 2. Allow absolute or fixed positioning to position properly even when WP admin-bar is visible at top of screen.
 * 3. Create a smooth scrolling, rather than snap scrolling for anchor links.
 * 4. Using optimizeLegibility instead of optimizeSpeed makes your text look nicer, but can have serious performance issues such as 30 second loading delays. It can be added to sections of microcopy though.
 */

html {
  @apply u-font-body u-text-grey-200 u-text-base;
  background-color: theme('colors.grey.800');
  font-size: 1em; /* [1] */
  line-height: 1.3; /* [1] */
  position: relative; /* [2] */
  scroll-behavior: smooth; /* [3] */
  text-rendering: optimizeSpeed;
}

/**
 * Apply class to <body> tag to create a grid with the footer at the bottom. This causes the footer to always 'stick' to
 * the bottom of the screen, even on pages with little content. See: https://css-tricks.com/couple-takes-sticky-footer/
 */
.u-sticky-footer {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

/**
 * Remove all animations and transitions for people that prefer not to see them
 */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
