@mixin wide-width() {
  margin-left: calc(-75vw / 2 + 100% / 2);
  margin-right: calc(-75vw / 2 + 100% / 2);
}

@mixin bleed-width() {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
}
